# Lens Studio cache and lock files
LensStudio/Quoridor/cache/
LensStudio/Quoridor/*.lock
LensStudio/Quoridor/Workspaces/

# Substance Painter autosaves
SourceAssets/SubstancePainter/autosave/
SourceAssets/SubstancePainter/*_autosave_*.spp

# Blender - Files are too big to upload
SourceAssets/BlenderFile/*.blend
SourceAssets/BlenderFile/*.blend1
SourceAssets/BlenderFile/assets/

# Other
SourceAssets/ImagesAndVideos/

# OS junk
.DS_Store
Thumbs.db
desktop.ini