# Lens Studio cache and lock files
LensStudio/Quoridor/cache/
LensStudio/Quoridor/*.lock
LensStudio/Quoridor/Workspaces/

# Substance Painter autosaves
SourceAssets/SubstancePainter/autosave/
SourceAssets/SubstancePainter/*_autosave_*.spp

# Blender autosaves
SourceAssets/BlenderFile/blend1

# OS junk
.DS_Store
Thumbs.db
desktop.ini